<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Attendance System</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/others/styles.css') }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-secondary navbar-inverse">
		<a class="navbar-brand" href="#">Online Attendance</a>
		<div class="container-fluid">
			<a href="studenthome.html" class="nav-link text-light">Back</a>
			<a href="/logout" class="nav-link text-light">Logout</a>
		</div>
	</nav>
	<div class="jumbotron text-center">
		<div class="container">
			<h1>{{ subjectname }}</h1>
			<div>
				<img src="{{ url_for('video_feed') }}" height="60%">
			</div>
			<div>
				<h1 id="test">not yet recorded</h1>
			</div>
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script>
				$(document).ready(function () {
					refresh();
				});

				function refresh() {
					setTimeout(function () {
						$.getJSON('/recorded', function (data) {
							if (data == "YES") {
								window.location.href = "http://127.0.0.1:7890/recorddone";
							}
							$('#test').text(data);
						});
						refresh();
					}, 1000);
				}
			</script>
			<hr>


		</div>
	</div>
</body>

</html>