
body {
  background-color: #E8ECEF;
}

.centered {
    /* padding-top: 200px; */
    text-align: center;
}
.left {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}



.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
